# dependencies
node_modules/

# next.js
.next/
out/

# production
/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# logs
logs
*.log

# editor
.vscode/
.idea/

# bundler
dist/

# TypeScript
*.tsbuildinfo

# local env
.next/

# security
.env
